body {
  background-color: rgb(136, 134, 134);
}

#todo {
  width: 90%;
  
	max-width: 1200px;
	background: #ffffff;
  margin: 30px auto;
  border-radius: 25px;
}

h1 {
  color: rgb(129, 129, 129);
  text-align: center;
}

h2 {
  color: rgb(rgb(255, 174, 0), green, blue);

}

article{
  display:block;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

p.negrillas {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
  font-weight: bold;

}

#top {
  padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#nombre {
  width: 100%;
  text-align: left
  
  
}

#imagen {
  width: 12.5%;
	float: left;
	margin-right: 30px;
  
}

#bottom {
  padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
  
}

.titulo {
  float: none;
  width: 100%;
  margin-left: -10px;
  font-size: 1.25em;
  border-bottom: 1.5px solid rgb(14, 11, 11);
}

.info {
  width: 80%;
  margin-left: -2px;
	font-size: 1.25em;
}